

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Grid */

.onecol {
width: 4.7%;
}

.twocol {
width: 13.2%;
}

.threecol {
width: 22.05%;
}

.fourcol {
width: 30.6%;
}

.fivecol {
width: 39%;
}

.sixcol {
width: 48%;
}

.sevencol {
width: 56.75%;
}

.eightcol {
width: 61.6%;
}

.ninecol {
width: 74.05%;
}

.tencol {
width: 82%;
}

.elevencol {
width: 91.35%;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
  margin:0 auto;
  width:100%;
}

#site-header h1 a {
 position:relative;
 display:block; 
 height:80px;  
 background:url(images/dogvscat-logo.gif) no-repeat center center; 
 text-indent:-9999px;
 }
 
#top-menu .main-nav li a {
float:top;
 display:block;
 height:25px;
 }
 
#content {
 float:left;
 }
}

body#site-wrapper { background-color:#ecf2d3; }

#site-header {
 position:relative;
 display:block; 
 height:150px;
 background:url(images/logo.png) no-repeat top left;
 background-color:#ecf2d3;
 text-indent:-999px;
}

#site-header#top-nav { float:top;
			  display:block;
			  font-family:Calibri;
			  font-size:2em;
			  font-weight:normal;
			  color:#7c5123;
}
	#top-nav a { float:top;
				 font-family:Calibri;
				 font-size:1em;
				 font-weight:normal;
				 color:#7c5123;
				 text-transform:none;
				 text-decoration:none; }
	#top-nav a:hover { font-family:Calibri;
					   font-size:1em;
					   font-weight:normal;
					   color:#aeba49;
					   text-transform:none;
					   text-decoration:none; }

nav#main-menu { height:1em;
				background-color:#7c5123;
				padding:3px 180px; }
	nav#main-menu ul li { display:inline-block;
						  float:left;
						  color:white;
						  padding:3px 20px;
						  background-color:#7c5123; }
	nav a { font-family:Helvetica;
			font-size:1em;
			font-weight:bold;
			color:white;
			text-transform:uppercase;
			text-decoration:none; }
	nav a:hover { font-family:Helvetica;
				  font-size:1em;
				  font-weight:bold;
				  color:#aeba49;
				  text-transform:uppercase;
				  text-decoration:none; }

article#page { float:left;
			   width:40%;
			   background-color:white;
			   line-height:1.5em;
			   padding:30px 200px; }
	#page h1 { font-family:Helvetica;
			   font-size:2em;
			   color:#7c5123;
			   line-height:1.5em; }
	#page h2 { font-family:Helvetica;
			   font-size:2em;
			   font-weight:bold;
			   color:#7c5123;
			   text-transform:uppercase;
			   line-height:1.5em; }
	p { font-family:Calibri;
				    font-size:1em;
				    line-height:1.5em; }
	a { font-family:Helvetica; font-size:14px; font-weight:bold; color:#7c5123; text-decoration:none; }
	a:hover { font-family:Helvetica; font-size:14px; font-weight:bold; color:#7c5123; text-decoration:none; }

aside#sidebar { float:left; width:20%; padding:30px; background-color:white; }
	#sidebar h1 { font-family:Helvetica; font-size:16px; color:#7c5123; font-weight:bold; text-transform:uppercase; line-height:1.5em; }
	#sidebar ul li { font-family:Helvetica; font-size:14px; color:#aeba49; line-height:1.5em; }
	
#footer-wrapper { float:bottom; clear:both; background-color:#7c5123; height:70px; padding:30px 200px; }

#footer-contact { float:left; width:100%; }
	#footer-contact h1 { font-family:Calibri; font-size:16px; font-weight:bold; color:#cdc2ab; text-transform:uppercase; }
	#footer-contact p { font-family:Calibri; font-size:12px; color:white; }

section#footer-follow { float:left; width:100% }
	#footer-follow h1 { font-family:Calibri; font-size:16px; color:#cdc2ab; font-weight:bold; text-transform:uppercase; }
	#footer-follow ul li { display:block; float:left; padding:5px; }

</style>